html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Lato',sans-serif;
}

a {
  color: #ffffff;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
}

/* error page */
#errorPage {
  position: relative;
  width: 100%;
  text-align: center;
  color: #fff;
  background-image: url(../img_error/bg-error.jpg);
  background-position: bottom;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  min-height: 100%;
}
#errorPage a img_error {
  max-width: 100%;
}
.error-content {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  padding: 15px;
}

.error-content h2 {
  font-size: 30px;
  font-family: "Lato", sans-serif;
  margin: 24px 0 48px 0;
}

.error-content .btn.btn-default {
  padding-left: 70px;
  padding-right: 70px;
  border-radius: 12px;
  text-transform: capitalize;
  margin-bottom: 24px;
}
.error-content .btn.btn-default {
  color: #f05d29;
  background-color: ffffff;
  transition: all .35s;
  border: 2px solid #ffffff;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 24px;
  font-weight: 700;
}
.error-content .btn.btn-default:hover {
  background-color: transparent;
  color: #ffffff;
}

@media (max-width: 767px) {
  #errorPage{
    padding: 15px;
  }
}
@media (max-width: 480px) {
  .error-content .btn.btn-default {
    display: block;
  }
}
@media (max-width: 320px) {
  #errorPage a img_error {
    max-width: 50%;
  }
  .error-content h2 {
    font-size: 18px;
  }
  .error-content .btn.btn-default {
    font-size: 16px;
  }
}