html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Lato',sans-serif;
}

a {
  color: #fe5722;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
}

img {
  max-width: 100%;
}

a:hover,
a:focus {
  color: #eb3812;
}
button:focus {
  outline: 0 none !important
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato',sans-serif;
}

p {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.5;
}

.bg-primary {
  background-color: #fe5722;
}

.bg-grey {
  background-color: #efe9e8;
}

.bg-cyan {
  background-color: #f6f6f6;
}
.bg-img {
  background: url(../img/bg2.jpg) no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.breadcrumb {
  padding: 15px;
  margin-bottom: 0;
}
.breadcrumb>.active {
  color: #fe5722;
}

section {
  padding: 0 0;
  overflow: hidden;
}

.form-control {
  height: 40px;
  border-radius: 0;
  border: 1px solid #ffffff;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition:none;
  -o-transition:none;
  transition:none;
}

.form-control:focus,
.form-control:visited,
.form-control:active {
  outline: 0 none !important;
  border: 1px solid #ffffff;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.form-control::-webkit-input-placeholder {
   color: #ababab;
   font-size: 18px;
}

.form-control:-moz-placeholder { /* Firefox 18- */
   color: #ababab;
   font-size: 18px;
}

.form-control::-moz-placeholder {  /* Firefox 19+ */
   color: #ababab;
   font-size: 18px;
}

.form-control:-ms-input-placeholder {
   color: #ababab;
   font-size: 18px;
}
.nav-close:after {
  content: "";
  display: table;
  clear: both;
}
.nav-close button.close {
  width: 35px;
  height: 35px;
  font-size: 35px;
  color: #ffffff;
  line-height: 35px;
  opacity: 1;
  text-shadow: none;
  float: none;
}
#owl-slide {
  position: relative;
  overflow: hidden;
}
#owl-slide.owl-theme .owl-controls .owl-buttons div {
  display: none;
}

.item {
  padding: 0 0;
  position: relative;
}
.item img.img-responsive {
  max-width: 95%;
  top: 24px;
  position: relative;
}

.caption-slide {
  width: 100%;
  position: relative;
  margin-top: 24px;
}
.close {
  font-size: 48px;
}

.item img.img-responsive {
  max-width: 79%;
  margin: 0 auto;
}

.caption-slide h2:first-child {
  font-size: 24px;
  font-weight: 400;
  margin-top: 42px;
}
span.num {
  font-size: 30px;
}
.caption-slide p {
  font-size: 14px;
}
.modal-body {
  padding: 48px;
  padding-top: 0;
}
.modal-body .text-center img {
  margin: 0 auto;
}
.modal-header {
  border-bottom: none;
}
.modal-content {
  border-radius: 0;
}
.cp-right {
  margin-top: 48px;
  padding: 24px 0;
  background-color: #858585;
}
.cp-right ul.social {
  margin: 0;
  padding: 0 6px;
  display: inline-block;
  vertical-align: middle;
}
.cp-right ul.social li a {
  color: #858585;
}

.cp-right p {
  color: #e1e1e1;
  font-size: 15px;
  margin-bottom: 0;
  padding: 0 6px;
  display: inline-block;
  vertical-align: middle;
}
@media (min-width: 992px) {
  .modal-lg {
    width: 100%;
    max-width: 1200px;

  }
}
.text-primary {
  color: #fe5722;
}

.no-gutter > [class*=col-] {
  padding-right: 0;
  padding-left: 0;
}

.btn-default {
  color: #ffffff;
  background-color: transparent;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
}

.btn.btn-default {
  border: 2px solid #ffffff;
}

.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  border-color: #ededed;
  color: #222;
  background-color: #f2f2f2;
}

.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  background-image: none;
}

.btn-primary {
  border-color: #fe5722;
  color: #fff;
  background-color: #fe5722;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
}
.btn-primary.btn-clear {
  border: 1px solid #fe5722;
  color: #fe5722;
  background-color: transparent;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary,
.btn-primary.btn-clear:hover,
.btn-primary.btn-clear:focus,
.btn-primary.btn-clear.focus,
.btn-primary.btn-clear:active,
.btn-primary.btn-clear.active,
.open > .dropdown-toggle.btn-primary.btn-clear {
  border-color: #ed431f;
  color: #fff;
  background-color: #ee4b28;
  outline: 0 none !important;
}

.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-image: none;
}

.btn {
  border: 0;
  border-radius: 4px;
  font-family: 'Lato',sans-serif;
  font-weight: 400;
  padding: 8px 30px;
}

.btn-xl {
  padding: 15px 30px;
}

::-moz-selection {
  text-shadow: none;
  color: #fff;
  background: #222;
}

::selection {
  text-shadow: none;
  color: #fff;
  background: #222;
}

img::selection {
  color: #fff;
  background: 0 0;
}

img::-moz-selection {
  color: #fff;
  background: 0 0;
}

body {
  webkit-tap-highlight-color: #222;
}

.owl-item:nth-child(2) .item img.img-responsive,
.owl-item:nth-child(6) .item img.img-responsive {
  max-height: 697px;
}
.owl-item:first-child .item img.img-responsive{
    max-height: 169px;
  }

#owl-slide.owl-theme .owl-controls {
  position: fixed;
  bottom: 24px;
  left: 0;
  width: 100%;
}
@media (min-width: 768px) {
  .owl-item:nth-child(2) .item img.img-responsive, 
  .owl-item:nth-child(6) .item img.img-responsive {
    max-height: 535px;
  }
  .owl-item:first-child .item img.img-responsive{
    max-height: 133px;
  }
}
@media (max-width: 991px){
  aside.col-sm-4 {
    padding-left: 15px;
  }
}

@media (max-width: 767px){
  aside.col-sm-4 {
    padding-top: 48px;
  }
  .thumbnail .caption h3 {
    line-height: 36px;
  }
  .owl-item:nth-child(2) .item img.img-responsive,
  .owl-item:nth-child(6) .item img.img-responsive {
    height: 424px;
    max-height: inherit;
  }
  .owl-item:first-child .item img.img-responsive{
    max-height: 106px;
  }
}
@media (max-width: 480px){
  .owl-item:nth-child(2) .item img.img-responsive,
  .owl-item:nth-child(6) .item img.img-responsive {
    max-height: 282px;
  }
  .owl-item:first-child .item img.img-responsive{
    max-height: 70px;
  }
  ul.pager li {
    display: none;
  }
  ul.pager li:first-child,
  ul.pager li:last-child {
    display: block;
  }

}
@media (max-width: 375px){
  .owl-item:nth-child(2) .item img.img-responsive,
  .owl-item:nth-child(6) .item img.img-responsive {
    max-height: 256px;
  }
  .owl-item:first-child .item img.img-responsive{
    max-height: 64px;
  }
}
@media (max-width: 360px){
  .owl-item:nth-child(2) .item img.img-responsive,
  .owl-item:nth-child(6) .item img.img-responsive {
    max-height: 245px;
  }
  .owl-item:first-child .item img.img-responsive{
    max-height: 61px;
  }
}

@media (max-width: 320px){
  .owl-item:nth-child(2) .item img.img-responsive,
  .owl-item:nth-child(6) .item img.img-responsive {
    max-height: 215px;
  }
  .owl-item:first-child .item img.img-responsive{
    max-height: 53px;
  }

}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
  border : 0px !important;
}

