 html, body {
  min-height: 100%;
}
body {
  font: 16px / 1.414 "Lato", "Helvetica Neue", arial, sans-serif;
  color: #ffffff;
  background: #fe5722;
  padding: 0px;
  margin: 0px;
}
a, input[type="submit"], .form__link {
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
}
.hidden {
  display: none;
}
small {
  display: block;
  margin-top: 1rem;
  text-align: center;
  font-weight: 400;
}

.flipper__checkbox:checked + .form__container {
}
.item img.img-responsive.icon {
  max-width: 20%;
}
.form__container {
  position: relative;
  width: 100%;
  max-height: 100% !important;
  min-height: 100%;
  -webkit-transition: 0.15s;
  transition: 0.15s;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.form__container--inner {
  padding: 2rem;
}
.form__login, .form__signup {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0;
  width: 100%;
  padding: 0 15px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.form__signup h2, .form__summon h2 {
  margin-top: 10%;
}
.summon {
  margin-top : 10%;
}
.form__login {
  z-index: 2;
}
.reg-wrapper {
  position: relative;
  width: 100%;
  height: 70%;
}
.form-reg1, .form-reg2 {
  position: absolute;
  margin: 0;
  width: 100%;
  padding: 0 15px;
}
.form-reg1 {
  z-index: 3;
}
.form-reg1 h3 {
  margin-top: 10%;
}
.form-reg1 .text-center a.test_rt, .form-reg1 .text-center a.summon_rt {
  margin-bottom: 8px;
}
.form__link {
  font-size: .95em;
  letter-spacing: 0.5px;
  font-weight: 700;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.75);
  cursor: pointer;
  display: block;
  line-height: 24px;
  margin-bottom: 24px;
}
.form__link:focus, .form__link:hover {
  color: rgba(255, 255, 255, 0.95);
}


[type="checkbox"] {
  position: relative;
  margin-right: .5rem;
}
[type="checkbox"]:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid #e1e1e1;
  width: 16px;
  height: 16px;
  background: #fff;
  border-radius: 2px;
  cursor: pointer;
}
label[for="checkbox"] {
  position: relative;
  font-size: .9rem;
  font-weight: 700;
}
.checkbox--forget:checked + .icon--checkbox {
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.icon--checkbox {
  position: absolute;
  top: 4px;
  left: 6px;
  opacity: 0;
  cursor: pointer;
  -webkit-transition: all 0.35s cubic-bezier(0.91, 0.8, 0.84, 2.81);
  transition: all 0.35s cubic-bezier(0.91, 0.8, 0.84, 2.81);
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
  background-color: rgb(255, 255, 255) !important;
  -webkit-box-shadow: 0 0 0px 1000px #fe5722 inset;
  -moz-box-shadow: 0 0 0px 1000px #fe5722 inset;
  -o-box-shadow: 0 0 0px 1000px #fe5722 inset;
  box-shadow: 0 0 0px 1000px #fe5722 inset;
  background-image: none !important;
  color: rgb(255, 255, 255) !important;
  -webkit-text-fill-color: rgb(255, 255, 255) !important;
  /*thanks to http: //stackoverflow.com/questions/2781549/removing-input-background-colour-for-chrome-autocomplete*/
}
/* custom styles */
input.form-control::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 1);
  font-weight: 400;
  letter-spacing: 0.5px;
  opacity: 1;
}
input.form-control:-moz-placeholder {
  /* Firefox 18- */
  color: rgba(255, 255, 255, 1);
  opacity: 1;
  font-weight: 400;
}
input.form-control::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(255, 255, 255, 1);
  opacity: 1;
  font-weight: 400;
}
input.form-control:-ms-input-placeholder {
  color: rgba(255, 255, 255, 1);
  opacity: 1;
  font-weight: 400;
}
.form__login h1, .form__summon h1, .reset__form h1 {
  text-indent: -99999px;
  background: url("../images/logo-white.png") no-repeat;
  background-size: 145px auto;
  width: 145px;
  height: 116px;
  margin: 25% auto 50px;
}
.reset__form {
  position: absolute;
  width: 100%;
}
.form__summon {
  position: absolute;
  top: 10%;
  left: 0;
  width: 100%;
  z-index: 77;
}
@media screen and ( max-height: 480px ) {
  .form__login h1, .form__summon h1, .reset__form h1 {
    margin: 10% auto 33px;
  }
}
.page-wrapper {
  width: 100%;
  padding: 0 15px;
}
form {
  margin: 0 auto;
  width: 100%;
}
.form__login form {
  width: 100%;
}
input.form-control {
  background: transparent;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, .8);
  -webkit-box-shadow: 0 0 0px 1000px #fe5722 inset;
  -moz-box-shadow: 0 0 0px 1000px #fe5722 inset;
  -o-box-shadow: 0 0 0px 1000px #fe5722 inset;
  box-shadow: 0 0 0px 1000px #fe5722 inset;
  color: #ffffff;
  padding-left: 0;
  padding-right: 0;
  border-radius: 0;
  margin-bottom: 10px;
  font-weight: 400;
  letter-spacing: 0.5px;
  font-size: 1.1em;
}
input.form-control:focus, input.form-control:active, input.form-control:visited {
  box-shadow: none;
  border-color: #ffffff;
  -webkit-box-shadow: 0 0 0px 1000px #fe5722 inset;
  -moz-box-shadow: 0 0 0px 1000px #fe5722 inset;
  -o-box-shadow: 0 0 0px 1000px #fe5722 inset;
  box-shadow: 0 0 0px 1000px #fe5722 inset;
  color: #ffffff;
}
.btn-login {
  background: #ffffff;
  color: #fe5722 !important;
  min-width: 100%;
  border-radius: 60px;
  margin-top: 30px;
  font-size: 1.1em;
  margin-bottom: 12px;
  padding: 8px 12px;
  display: block;
}
/* blocker */
.blocker {
  margin: 0px;
  padding : 0px;
  background: #fe5722;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}
.blocker h1 {
  text-indent: -99999px;
  background: url("../images/logo-white.png")no-repeat;
  background-size: 146px 117px;
  width: 146px;
  height: 117px;
  position: absolute;
  top: 50%;
  margin-top: -57px;
  left: 50%;
  margin-left: -73px;
}
/* register page */
h2 {
  text-align: center;
  font-weight: 700;
  font-size: 1.4em;
  margin-top: 70px;
}
h3 {
  font-size: .97em;
  font-weight: 700;
  color: #fe5722;
  background: #ffffff;
  padding: 0 10px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  position: relative;
  margin-top: 30px;
}
h3:before {
  content: "";
  width: 0;
  height: 0;
  display: inline-block;
  position: absolute;
  left: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 8px solid #fe5722;
}
h3:after {
  content: "";
  width: 0;
  height: 0;
  display: inline-block;
  position: absolute;
  right: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 8px solid #fe5722;
}
.form__signup input.form-control {
  margin-bottom: 2px;
}
#register_status {
  position: relative;
  z-index: 99;
}
.alert.kentongan {
  position: absolute;
  top: 12px;
  background-color: #fff;
  border: 0px;
  cursor: default;
  opacity: 1;
  font-size: .97em;
  color: #fe5722 !important;
  width: 100%;
  left: 0;
  z-index: 9999;
}
.alert.kentongan a.close {
  position: absolute;
  top: -10px;
  right: -10px;
  background: #ccc;
  padding: 5px 10px;
  border-radius: 50%;
  opacity: 1;
  display: none;
}
.form__link em {
  font-style: normal;
}
.select-wrapp {
  display: block;
  border-bottom: 1px solid rgba(255, 255, 255, .8);
  position: relative;
  font-weight: 400;
}
/*.register*/
select.form-control {
  border-radius: 0;
  background: transparent;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  font-size: 1.1em;
  padding-left: 0;
  padding-right: 0;
  letter-spacing: 0.5px;
  color: #ffffff;
  position: relative;
  height: 38px;
  margin-left: -3.8 px;
  display: block;
  padding: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
}
/*.register */
select.form-control option {
  color: #525252;
}
/*.register */
select.form-control option:hover {
  background-color: #46BA55;
}
.select-wrapp:before {
  content: "";
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 10px solid #ffffff;
  position: absolute;
  top: 13px;
  right: 7px;
}
button[type="submit"]:focus, button[type="submit"]:active, button[type="submit"]:visited, select:focus, select:visited, select:active, .btn:focus, .btn:active, .btn:visited, .btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
  outline: 0 none !important;
}
input.input-error, input.input-error:focus, input.input-error:active, input.input-error:visited {
  -webkit-box-shadow: 0 0 0px 1000px #D65034 inset;
  -moz-box-shadow: 0 0 0px 1000px #D65034 inset;
  -o-box-shadow: 0 0 0px 1000px #D65034 inset;
  box-shadow: 0 0 0px 1000px #D65034 inset;
}
select.input-error, select.input-error:focus, select.input-error:active, select.input-error:visited {
  -webkit-box-shadow: 0 0 0px 1000px #D65034 inset;
  -moz-box-shadow: 0 0 0px 1000px #D65034 inset;
  -o-box-shadow: 0 0 0px 1000px #D65034 inset;
  box-shadow: 0 0 0px 1000px #D65034 inset;
  border-bottom : 1px solid rgba(255, 255, 255, .8);
}
.form-error-message {
  display: block;
  font-size: 14px;
  font-style: italic;
  margin-bottom: 12px;
}
.form-help {
  font-size: 9pt;
  font-weight: normal;
}
.modal-body {
  color : #333;
}
/* login */
body.login-option {
  background-color: #ffffff;
  padding: 0;
}
body.login-option .page-wrapper {
  padding-left: 0;
  padding-right: 0;
}
.login-option .form-login-option {
  height: 100%;
}
.login-option .form-login-option .logo-log {
  position: absolute;
  top: 20%;
  left: 50%;
  z-index: 88;
  max-width: 60%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  transition : all 0.2 linear;
  -webkit-transition : all 0.2 linear;
}
.slide1 {
  position: relative;
  width: 100%;
  text-align: center;
  color: #fff;
  background-image: url(../images/login-slide1.jpg);
  background-position: bottom;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: left;
}
#owl-slide {
  position: absolute;
  height: 100%;
}
#owl-slide.owl-carousel .owl-wrapper-outer {
  height: 100%;
}
#owl-slide.owl-carousel .owl-wrapper, .owl-carousel .owl-item {
  height: 100%;
  display: block;
  width: 100%;
}
#owl-slide.owl-theme .owl-controls .owl-buttons div {
  display: none;
}
#owl-slide.owl-theme .owl-controls .owl-page span {
  width: 8px;
  height: 8px;
}
.owl-carousel .owl-stage-outer, .owl-carousel .owl-stage {
  height: 100%;
}
#owl-slide.owl-carousel .owl-stage-outer .owl-stage .owl-item .item {
  padding: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
}
#owl-slide.owl-theme .owl-controls {
  margin-top: -40px;
  z-index: 88;
  position: absolute;
  width: 100% ;
}
#owl-slide.owl-theme .owl-controls .owl-dots {
  text-align: center;
}
#owl-slide.owl-theme .owl-controls .owl-dots .owl-dot {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin: 0 4px;
}
#owl-slide.owl-theme .owl-controls .owl-dots .owl-dot span {
  background: transparent;
  border: 1px solid #ffffff ;
  z-index: 88;
  position: relative;
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 100px;
}
#owl-slide.owl-theme .owl-controls .owl-nav {
  display: none;
}
#owl-slide.owl-theme .owl-controls .owl-dots .owl-dot.active span {
  background: #ffffff ;
}
span.img-icon {
  text-align: center;
  display: block;
  margin: 0 auto 24px auto;
  vertical-align: bottom;
}
.item img {
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;
}
.item img.img-responsive.logo {
  max-width: 65%;
  margin-top: 30px;
}
#owl-slide.owl-theme .owl-wrapper .owl-item .item .caption-slide img.img-responsive.icon {
  max-width: 45%;
  vertical-align: bottom;
  margin-top: 0;
}
#owl-slide.owl-theme .owl-wrapper .owl-item .item .caption-slide p {
  min-height: 114px;
}

.caption-slide {
  position: absolute;
  text-align: center;
  left: 0;
  width: 100%;
  padding: 0 3%;
  top: 70%;
  -webkit-transform: translateY(-70%);
  -moz-transform: translateY(-70%);
  -ms-transform: translateY(-70%);
  transform: translateY(-70%);
}
.caption-slide h1 {
  font-weight: 700;
  margin-top: 0px;
  margin-bottom: 24px;
  font-size: 20px;
}
.caption-slide h1 span {
  width: 32px;
  height: 32px;
  display: inline;
  vertical-align: top;
  margin-right: 12px;
}
.caption-slide p {
  display: block;
}
.caption-slide h1 span.icon-inline img {
  max-width: 100%;
  width: inherit;
  display: inline;
}
.caption-slide .btn {
  font-size: 15px;
  border-radius: 300px;
  background-color: rgba(255, 255, 255, 0.3);
  display: inline;
  border: none;
  margin-top: 0;
  padding: 10px 30px;
  display: inline-block;
}
span.num {
  font-size: 48px;
}
.caption-slide p {
  font-size: 18px;
}
ul.button {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: transparent;
  margin: 0;
  z-index: 88;
}
ul.button li {
  width: 50%;
  padding: 0;
  float: left;
  display: block;
  margin: 0 0;
}
ul.button:after {
  content: "";
  display: block;
  clear: both;
}
ul.button li a.btn.btn-primary.btn-block {
  width: 100%;
  padding: 8px 10px;
  margin: 0 auto;
  border-radius: 0;
  text-transform: uppercase;
}
ul.button li a.btn.btn-primary.btn-block small {
  margin-top: 0;
}
ul.button li a.btn.btn-primary {
  background-color: #232323;
  border: none;
  color: #ffffff;
  font-size: 18px;
}
ul.button li a.btn.btn-primary:hover {
  background-color: #fe5722;
  color: #ffffff;
}
ul.button li:last-child a.btn.btn-primary {
  background-color: #fe5722;
}
a.btn-block {
  font-size: 18px;
  margin-bottom: 24px;
}
a.btn-block:hover {
  color: #333333;
  text-decoration: none;
}
a.to_login.btn-block {
  position: absolute;
  top: 6px;
  left: 6px;
  color: #ffffff;
  z-index: 88;
  width: 36px;
  height: 36px;
  font-size: 24px;
  line-height: 36px;
}
.caption-slide i {
  font-size: 86px;
  color: #ffffff;
}
ul.button li a.btn.btn-primary {
  position: relative;
  top: 0;
  left: 0;
  height: auto;
  line-height: inherit;
}
/* popup update */
.modal.popup-info.in .modal-dialog {
  position: absolute;
  top: 35%;
  left: 5%;
  width: 90%;
  margin: 0 auto;
}
.modal.popup-info.in .modal-content {
  border-radius: 3px;
}
.modal.popup-info.in .modal-body:after {
  content: "";
  clear: both;
  display: table;
}
.modal.popup-info.in .modal-body .btn {
  border-radius: 0;
  margin-top: 10px;
  text-transform: uppercase;
}
.slide-wrapp {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 100%;
}
@media (min-width: 768px) {
  ul.button li a.btn.btn-primary.btn-block {
    padding: 12px;
  }
  #owl-slide.owl-theme .owl-controls {
    margin-top: -100px;
  }
}
@media (max-width: 767px) {

  ul.button li a.btn.btn-primary {
    max-width: inherit;
    font-size: 15px;
    padding-left: 0;
    padding-right: 0;
  }
  #owl-slide.owl-theme .owl-controls {
    margin-top: -100px;
  }
}
@media (max-width: 480px) {
  ul.button li a.btn.btn-primary.btn-block {
    width: 100%;
    font-size: 12px;
  }
  .caption-slide h1 {
    font-size: 20px;
  }
  .caption-slide p {
    font-size: 14px;
    /*margin-bottom: 24px*/;
  }
  a.btn-block {
    font-size: 14px;
  }
  .item img.img-responsive.icon {
    max-width: 35%;
  }
}
@media (max-width: 320px) {
  ul.button li a.btn.btn-primary.btn-block {
    max-width: inherit;
    font-size: 11px;
    padding-left: 0;
    padding-right: 0;
  }
  ul.button li {
    margin: 0 0;
  }
  #owl-slide.owl-theme .owl-wrapper .owl-item .item .caption-slide img.img-responsive.icon {
    max-width: 30%;
  }
  .item img.img-responsive.icon {
    max-width: 26%;
  }

}
.text-primary {
  color: #fe5722;
}
.btn-xl {
  padding: 15px 30px;
}
.btn-option {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}
.btn-option .logo-log {
  margin: 0 auto 36px auto;
  max-width: 65%;
}
.btn-option .btn {
  margin-top: 0;
  margin-bottom: 24px;
  border: 1px solid #ffffff;
  background-color: transparent;
  color: #ffffff !important;
  font-size: 1em;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  padding: 6px 30s%;
  text-align: left;
}
.btn-option .btn img {
  display: inline;
  vertical-align: middle;
  max-width: 24%;
  margin-right: 10px;
}
@media (max-width: 480px) {
  .btn-option .btn {
    padding: 6px 20%;
    text-align: left;
  }
  .btn-option .btn img {
    max-width: 15%;
  }
}
@media (max-width: 320px) {
  .btn-option .btn {
    padding: 6px 15%;
  }
  .modal.popup-info.in .modal-dialog {
    top: 30%;
  }
}
.form-control:focus {
  outline : 0;
  box-shadow : none !important;
  -webkit-box-shadow : none !important;
}
