body{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F1F5F8;
  margin-top : 10px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  display:none;
  margin: 0; 
}

* {
   -webkit-appearance: none;
   -moz-appearance:    none;
   appearance:         none;
}

select{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0;
}
input, textarea, .input-group .form-control {
  width: 100%;
  border-radius: 0;
  border-color: #E8E8E8;
  color: #333333;
  font-size: 14px;
  letter-spacing: .25px;
  background: transparent;
  height: 45px;
  border: none;
  border-bottom: 1px solid #e8e8e8;
  font-size: 1.1em;
  padding-left: 0;
  padding-right: 0;
}

.form-control {
  box-shadow: 0px 0px 0px;
}

.form-control:hover, .form-control:active
{
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.form-control[readonly].form-control {
  background: #F1F1F1;
}

.form-control {
  box-shadow: 0px 0px 0px;
}

.form-control:hover, .form-control:active
{
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.input-group {
  width: 100%;
}

.input-group-addon {
  display: none;
}

.card-content {

  background: white;

  padding: 10px;

  border-radius: 2px;

  margin: 0 -6px;
  border-bottom: solid 2px #EBEDEF;
  border-right: solid 1px rgba(235, 237, 239, 0.87);
  margin-bottom:10px;
}

/* navigation */
.navbar-inverse {
  background-color: #FE5722;
  border-color: #E25E33;
  border-bottom: solid 2px #F1F5F8;
}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
  background-color: transparent;
  border-color: transparent;
}
.navbar-inverse .navbar-toggle {
  border-color: transparent;
  background-color: transparent;
  float: left;
  margin-right: 0px;
}
.navbar-fixed-top{
  padding-top : 22px;
}
.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
  max-height: 377px;
  background: white;
  color: #F1F5F8;
  border-color: #F1F5F8;
  border-top: solid 3px;
}
.navbar-inverse .navbar-brand{
  color: #fff;
  background-color: transparent;
  /* text-transform: uppercase; */
  letter-spacing: 0.2px;
  font-size: 16px;
  font-weight: 600;
  margin-left: -10px;
}

.nav>li.divider:after {
  content: "";
  display: block;
  width: calc(100% - 30px);
  height: 1px;
  margin: 0 15px;
  background: rgba(255,255,255,.1);
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a{
  color: #6B777F;
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
  color: #737F86;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
  background: #F1F5F8;
  color: #6B777F;
}




.loader{
  margin : 100px auto;
  text-align : center;
}
.table.dataTable thead .sorting_asc:after{
  display: none;
}
.table.dataTable thead .sorting_desc:after{
  display: none;
}
table.dataTable thead .sorting:after{
  display:none;
}

.page-header {
  margin-top: 0;
  font-size: 1.5em;
  color: #737F86;
  padding: 0 0 12px 0;
  margin: 0 0 0;
  border-bottom: 1px solid #eee;
  display: block;
  margin-bottom: 16px;
  text-align: right;
}
.page-header:after,
.page-header:before {
  content: "";
  display: table;
  clear: both;
}
.page-header small {
  display: block;
  margin-top: 5px;
  font-size: 14px;
  font-weight: 500;
  color: #333333;
  letter-spacing: .25px;
  margin: 15px 0px;
  font-size: .78em;
  text-align: left;
}
.page-header .btn.btn-plus,
.btn.btn-back {
  margin-top: -40px;
  color: #46BA55;
  background: transparent;
  border: solid 1px transparent;
  border-radius: 50%;
  letter-spacing: .25px;
  font-size: 35px;
  height: 35px;
  width: 35px;
  padding: 0;
  line-height: 35px;
  display: block;
  margin-right: -3px;
}
.btn.btn-back {
  font-size: 24px;
  color: #ffffff;
  line-height: 30px;
}
.page-header .btn.btn-plus.btn-inline,
.page-header .btn.btn-back.btn-inline {
  display: inline-block;
  vertical-align: middle;
  margin-top: 6px;
}
.btn.btn-back:focus,
.btn.btn-back:active,
.btn.btn-back:visited,
.btn.btn-plus:focus,
.btn.btn-plus:active,
.btn.btn-plus:visited {
  background: transparent !important;
  box-shadow: none !important;
}
.btn-plus .fa-eye{
  font-size: 18px;
}

.btn-primary {
  background: #46BA55;
  border: solid 1px transparent;
  font-weight: 600;
  letter-spacing: 1px;
  border-radius: 2px;
  width: 100%;
  line-height: 25px;
  text-transform: uppercase;
  font-size: 1.1em;
  border-radius: 50px;
}

.btn.btn-back {
  color: #ACB7BF;
}

.btn.btn-back i {
    left: -1px;
    position: relative;
    top: 1px;
}

span.alert-image {
    display: block;
    font-size: 50px;
}

button.btn.btn-danger {
  height: auto;
  color: white;
  box-shadow: none;
  width: 100%;
  border-radius: 50px;
  text-transform: uppercase;
  font-weight: 700;
  padding: 6px 12px;
}
button.btn.btn-danger.btn-alarm {
  border-radius: 4px;
  font-size: 0.87em;
}

button.btn.btn-danger.btn-fire {
    background-color: #DC4F3D;
}

button.btn.btn-danger.btn-thief {
    background-color: #455058;
}

button.btn.btn-danger.btn-nature {
    background-color: #8DBF5C;
}

button.btn.btn-danger.btn-accident {
    background-color: #FBC629;
}


/* homepage */
ul.home-menu-list {
  display: block;
  list-style: none;
  margin: -10px -15px 0 -15px;
  padding: 0;
}

li.home-menu-item {
  display: block;
  background: white;
  border-radius: 2px;
  border-right: solid 1px rgba(235, 237, 239, 0.87);
}

li.home-menu-item a {
  display: block;
  line-height: 45px;
  margin-bottom: 0;
  background: white;
  padding: 15px 30px;
  color: #444444;
  text-transform: uppercase;
  font-size: 1.3em;
  letter-spacing: 0.25px;
  font-weight: 500;
  border-bottom: solid 1px #EBEDEF;
  text-decoration: none !important;
  border-radius: 2px;
  position: relative;
}
li.home-menu-item a span {
  display: inline-block;
  width: 32px;
  height: 32px;
  vertical-align: top;
  margin-right: 24px;
  text-align: center;
  line-height: 38px;
}
li.home-menu-item a span img {
  max-width: 100%;
}
li.home-menu-item a span.arrow-right {
  position: absolute;
  top: 50%;
  right: -12px;
  width: inherit;
  font-size: 20px;
  height: inherit;
  color: #e0e0e0;
  line-height: 20px;
  margin-top: -10px;
}
/* datatables */
/*.dataTables_wrapper {
  overflow-x: scroll;
}*/
div.dataTables_wrapper div.dataTables_length,
div.dataTables_wrapper div.dataTables_filter {
  text-align: right;
  display: none;
}

div.dataTables_wrapper div.dataTables_length label {
  display: none;
}

#page-wrapper {
  background: transparent;
}

.table>thead:first-child>tr:first-child>th:last-child {
  width: 61px !important;
}
.table>tbody tr>td:last-child {
  padding: 8px 5px;
}
.dataTable td a.btn {
  padding: 5px 8px;
  float: left;
  margin-right: 5px;
}
.dataTable td a.btn:last-child {
  margin-right: 0;
}
.dataTable  button.btn-default {
  margin-top: 1px;
  border: none;
}
.dataTable button.btn-default span {
  color: #9197A3;
  font-size: 1.1em;
}
.dataTable button.btn-default span:visited {
  background-color: transparent;
}
.btn-default.active, .btn-default.focus, .btn-default:active, .btn-default:focus, .btn-default:hover, .open>.dropdown-toggle.btn-default {
  background-color: transparent;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
  padding: 0;
  display: none;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.previous,
.dataTables_wrapper .dataTables_paginate .paginate_button.next {
  display: inline-block;
}
.dataTables_info {
    display: none;
}
table.table-kas tbody td,
.table-kas>tbody tr>td:last-child {
  padding: 4px 10px;
  padding-right: 0;
}
table.table-kas tbody td span {
  line-height: 24px;
}
table.table-kas tbody tr td:first-child {
  min-width: 130px;
  padding-left: 0;
}

table.table-kas tbody td span.text-success span {
  padding-left: 0 !important;
}
.pagination {
  width: 100%;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.next {
  float: right;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.previous {
  float: left;
}
.pagination>li>a, .pagination>li>span {
  min-width: 100px;
  border-radius: 18px !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover{
  background: none;
  border:none;
}

.data-table {
  position: relative;
  top:-24px;
}

thead {
    display: none;
}

table.table-bordered.data-table tbody td {
  border: none;
  border-bottom: solid 1px #F1F5F8;
  padding: 15px 10px;
}
table.data-table tbody tr td:first-child {
  padding-left: 0;
}
table.data-table tbody tr td:last-child {
  padding-right: 0;
}
.data-table td:last-child {
    width: inherit;
}

table.dataTable.no-footer {
  border: none;
}

span.card-mobile-label {
    display: block;
    letter-spacing: .25px;
    margin-top: 2px;
}

span.card-name-label {
    display: block;
    margin-top: 2px;
}

table.table-bordered.data-table.table-warga tbody td:last-child{
  padding: 0;
}

/*.data-table img {
  max-width: 50px;
  border-radius: 50%;
  margin-right: 15px;
  display: inline-block;
  float: left;
}*/

/* Tanda Bahaya */
.alarm-form .btn-danger {
  border-color: transparent;
}

/*Loader*/
.spinner {
  width: 40px;
  height: 40px;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
.dropdown-menu > li > a{
  color : #fff;
}
a.btn{
  width:100%;
 /* border-radius : 0px;*/
}
.action-dropdown{
  min-width:0px !important;
  padding : 0px;
  left: -66px;
}
.alarm-form .btn{
  width : 100%;
}
.action-dropdown li{
  float:left;
}
.action-dropdown li a{
  display:block;
}
#map{
  height: 200px;
}

/*iPad Optimize*/
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)  {
  .navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
    max-height: 377px;
    background: none;
    color: #F1F5F8;
    border-color: #F1F5F8;
    border-top: none;
  }

  .navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
      background: #000;
      color: #6B777F;
  }
}

#wrapper{
  padding-left : 0px;
}
a{
  outline : 0 !important;
}


.img-container{
  width :50px;
  height:50px;
  border-radius : 50%;
  position : relative;
  overflow:hidden;
  float : left;
  display: inline-block;
  margin-right: 10px;
}
.img-container img{
  top : 50%;
  left:50%;
  height : 100%;
  border-radius :50%;
    -webkit-border-radius :50%;
    -moz-border-radius :50%;
    -o-border-radius :50%;
    -msie-border-radius :50%;
    -khtml-border-radius :50%;
}

.form .form-group {
  margin-bottom: 20px;
}

.form .form-group label {
  font-weight: 600;
  font-size: 1.12em;
}

.form .form-group .input-group input {
  padding-top: 10px;
  outline: 0 none !important;
  border-color: #E8E8E8;
  border: none;
  border-bottom: 1px solid #e8e8e8;
  font-size: 1.12em;
  color: #333333;
  padding-left: 0;
  padding-right: 0;
}
.form .form-group .input-group label[for="#"] {
  display: block;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  background-color: #31943D;
}
button[type="submit"]:focus,
button[type="submit"]:active,
button[type="submit"]:visited,
select:focus,
select:visited,
select:active,
.btn:focus,
.btn:active,
.btn:visited,
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus,
input {
  outline: 0 none !important;
  box-shadow : none;
}

.btn-default {
  border-radius: 2px;
}
.bootbox .modal-footer {
  text-align: center;
}
.modal-footer button {
  display: inline-block;
  min-width: 124px;
  height: 39px;
  border-radius: 50px;
}

.modal-footer button.btn-primary {
  width: inherit;
}

a.list-option span,
a.list-option:hover span,
a.list-option:active span,
a.list-option:focus span {
  color: #9197A3;
  text-decoration: none;
  font-size: 1.5em;
}
a.list-option {
  color: #9197A3;
  text-decoration: none;
  /*display: inline-block;*/
  display : block;
  text-align : center;
  /*padding: 15px 1px 15px 10px;*/
}
#files img {
  max-width: 50%;
  margin-top: 20px;
}
.date-time {
  display: flex;
  margin-bottom: 20px;
}
.date-dropdowns {
  display: flex;
}
.date-dropdowns select {
  padding: 8px 0;
  border-color: #E8E8E8;
  margin-right: 5%;
  width: 30%;
  background: transparent;
  border: none;
  border-bottom: 1px solid #e8e8e8;
  font-size: 1.1em;
  color: #333333;
  border-radius: 1px;
}
.date-time select {
  border-color: #E8E8E8;
  background: transparent;
  border: none;
  border-bottom: 1px solid #E8E8E8;
  border-radius: 1px;
}
.date-dropdowns select:last-child {
  margin-right: 0px;
}
.date-time .date-dropdowns {
  width: 100%;
}
.date-time .date-dropdowns select {
  width: 29%;
  border-radius: 0;
}
.date-time input.form-control {
  width: 25%;
  height: 40px;
}
.date-time .date-dropdowns select:last-child {
  margin-right: 4%;
}

.ui-timepicker-wrapper {
  width: 4.4em;
}
label[for="photo_img"],label[for="validation_doc_img"] {
  position: relative;
  border-bottom: #e8e8e8;
}
label[for="photo_img"]:before,label[for="validation_doc_img"]:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  display: block;
  text-align: center;
  z-index: 77;
}
label[for="photo_img"]:after,label[for="validation_doc_img"]:after {
  content: "Unggah Foto";
  position: absolute;
  top: 3px;
  left: 0;
  color: #616161;
  background: #e8e8e8;
  padding: 8px 14px;
  border-radius: 0;
  z-index: 88;
  font-weight: 400;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
  display: none;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.previous,
.dataTables_wrapper .dataTables_paginate .paginate_button.next {
  display: block;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.previous a,
.dataTables_wrapper .dataTables_paginate .paginate_button.next a {
  color: #333333;
}

input.form-control::-webkit-input-placeholder,
textarea.form-control::-webkit-input-placeholder {
  color: #333333;
  font-weight: 400;
  opacity: 1;
}

input.form-control:-moz-placeholder,
textarea.form-control:-moz-placeholder { /* Firefox 18- */
  color: #333333;
  opacity: 1;
  font-weight: 400;
}

input.form-control::-moz-placeholder,
textarea.form-control::-moz-placeholder {  /* Firefox 19+ */
  color: #333333;
  opacity: 1;
  font-weight: 400;
}

input.form-control:-ms-input-placeholder,
textarea.form-control:-ms-input-placeholder {
  color: #333333;
  opacity: 1;
  font-weight: 400;
}

.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
    color: #23527c;
    background-color: #fff;
    border-color: #ddd;
}
.form .form-group.kas_rt {
  margin-bottom: 0;
}
.form .form-group.kas_rt:first-child {
  padding-right: 5px;
}
.form .form-group.kas_rt:nth-child(2) {
  padding-left: 5px;
}
.kas_rt.col-xs-6 {
  width: 50%;
  padding-left: 0px;
  padding-right: 0px;
  float: left;
}
label.select-box {
  display: table;
  position: relative;
  width: 100%;
  margin-bottom: 20px;
  font-weight: normal;
  float:left;
}
.form .form-group label.select-box {
  font-weight: normal;
  margin-bottom: 0;
}
label.select-box:before {
  content: "";
  border: 4px solid #9197A3;
  border-bottom: 4px solid transparent;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  position: absolute;
  top: 20px;
  right: 8px;
  width: 0;
  height: 0;
}
label.select-box select {
  float: none;
}
.date-dropdowns label.select-box {
  margin-bottom: 0;
  font-weight: normal;
}
.date-dropdowns label.select-box:last-child {
  width: 25%;
}
.date-dropdowns label.select-box:nth-last-child(2) {
  width: 44%;
  margin-left: 3%;
  margin-right: 3%;
}
.date-dropdowns label.select-box:nth-last-child(3) {
  width: 25%;
}
.date-dropdowns label.select-box select {
  width: 100%;
}
table.table-warga>tbody>tr>td:first-child {
  padding-left: 0;
}
.date-time>label.select-box {
  width: initial;
}

select option {
  padding: 0 !important;
}
span.ion-chevron-down:before {
    font-size: 0.5em;
    vertical-align: middle;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: middle;
    border-top: 1px solid #ddd;
}
.time{
  padding: 9px 0px;
  height: 41px;
}

table tr.firstamount td,
table tr.lastamount td{
  padding : 20px 0px;
}

.tab-content>.tab-pane {
  padding: 15px 0;
}

#main-content .nav-tabs {
  border-bottom: 1px solid #E8E8E8;
  margin-left: -6px;
  margin-right: -5px;
}
#main-content .nav-tabs>li.active>a {
  background: #ffffff;
  color: #333333;
  font-weight: 700;
}
#main-content .nav-tabs>li.active>a, 
#main-content .nav-tabs>li.active>a:focus, 
#main-content .nav-tabs>li.active>a:hover {
  border: none;
  border-bottom: 2px solid #ffffff;
}
#main-content .nav-tabs>li>a {
  background: #E2E2E2;
  border-radius: 0;
  color: #333333;
  border: none;
  border-bottom: 2px solid #E2E2E2;
}
#main-content .nav-tabs>li {
  width:50%;
}
li.home-menu-item a:focus {
    background-color: #f15d29 ;
    color : #fff;
}
a.btn.btn-primary.pull-right.btn-plus:focus {
   color: #37A945 ;
}

a.logout-demo{
  background : #fe5722;
  color : #fff;
  padding : 5px 10px;
  font-weight : bold;
  border-radius : 20px;
  margin-top : 15px;
}
a.logout-demo:hover{
  text-decoration : none;
}

/* detail RT */
.wrapper-rt {
  position: relative;
  width: 100%;
  text-align: center;
  color: #fff;
  background-image: url(../images/bg-rt.jpg);
  background-position: bottom;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  min-height: 100%;
}
.datail-rt {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  text-align: center;
}
.datail-rt h2 {
  color: #7a7a7a;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-weight: 400;
  padding:0 30%;
  line-height: 24px;
}
.datail-rt p {
  font-size: 16px;
  color: #ba8e2f;
  font-family: "Lato", sans-serif;
  font-weight: 700;
}

.wrapper-rt a.edit-detail {
  width: 32px;
  height: 32px;
  border-radius: 200px;
  color: #ffffff;
  line-height: 32px;
  font-size: 18px;
  background-color: #46BA55;
  display: block;
  position: absolute;
  top: 15px;
  right: 15px;
}
.wrapper-rt a.edit-detail:focus {
  background-color: #37A945;
}
/* detail RT */

.novalidate{
  position : fixed;
  top : 0px;
  width : 100%;
  text-align : center;
  background : #f21929;
  color : #fff;
  font-weight: bold;
  padding : 24px;
  z-index : 99 ;
}
.validate-button .validate{
  color : #fff;
  font-weight: bold;
  padding : 5px 15px;
  border : 1px solid #fff;
  border-radius : 50px;
  color : #ed1b24;
  background : #fff;
  margin-top : 10px;
}

.novalidate p{
  padding-bottom: 5px;
}
.validate-button .validate:hover{
  text-decoration : none;
}

/* popup update */
.modal.popup-info.in .modal-dialog{
  position: absolute;
  top: 35%;
  left: 5%;
  width: 90%;
 /* -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);*/
  margin: 0 auto;
}
.modal.popup-info.in .modal-content {
  border-radius: 3px;
}
.modal.popup-info.in .modal-body:after {
  content: "";
  clear: both;
  display: table;
}
.modal.popup-info.in .modal-body .btn {
  border-radius: 0;
  margin-top: 10px;
  text-transform: uppercase;
  width: auto;
}
.form-control:focus{
  box-shadow : none !important;
}

.info_kegiatan .date-time .date-dropdowns{
  width : 77%;
  float : left;
}

